.register-btn{
    background-color: #3F90FC;
    color: white !important;
    border: none;
    font-weight: 400;
    padding: 4px 10px;
    border-radius: 5px;
    margin-left: 10px;
    width: 130px;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.admin-btn{
    background-color: #434141;
    color: white !important;
    border: none;
    font-weight: 400;
    padding: 4px 10px;
    border-radius: 5px;
    margin-left: 10px;
    width: 130px;
    text-align: center;
    align-items: center;
    text-decoration: none;
}