.home{
    background-color: wheat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.log-access{
    margin-top: 100px;
    background-color: rgb(187, 235, 236);
    width: 500px;
    justify-content: center;
 
}
